.cv-layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
}


.cv-layout>*:first-child {
    width: 220px;
    border-right: 1px solid #ddd;
    background: #fff;
}

.cv-editor {
    flex: 1;
    overflow-y: auto;
    background: #f5f6fa;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.cv-editor>div {
    width: 100%;
    max-width: 850px;
}


.cv-settings {
    width: 260px;
    border-left: 1px solid #ddd;
    background: #fafafa;
    overflow-y: auto;
}